@tailwind base;
@tailwind components;
@tailwind utilities;

.animatedLog {
  opacity: 0;
  animation: 0.1s ease-in 0.3s fadein;
  animation-fill-mode: both;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
